<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .footer {
            background: #7B4A9E;
            color: white;
            padding: 2rem 0;
        }
        .footer a {
            color: white;
            text-decoration: none;
        }
        .footer a:hover {
            color: #d3c8e6; /* Màu nhạt hơn khi hover */
        }
        .footer hr {
            border-color: rgba(255, 255, 255, 0.5);
            margin: 1rem auto;
            width: 90%;
        }
    </style>
</head>
<body>
    <footer class="footer text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-4">
                    <h5 class="text-uppercase mb-3">Petshop</h5>
                    <ul class="list-unstyled">
                        <li>Contact us: 0585837306</li>
                        <li>Email: petshop@gmail.com</li>
                    </ul>
                </div>
                <div class="col-lg-4 d-flex justify-content-between align-items-center">
                    <a href="#!">Home</a>
                    <a href="#!">Thú cưng</a>
                    <a href="#!">Thức ăn cho thú cưng</a>
                    <a href="#!">Liên hệ</a>
                </div>
                <div class="col-lg-4 d-flex justify-content-end gap-3">
                    <a href="#!" class="btn btn-link btn-floating" role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="btn btn-link btn-floating" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center p-3">
            © 2024 Copyright:
            <a href="https://mdbootstrap.com/">GROUP 3 - SE17D03</a>
        </div>
    </footer>
</body>
</html>